<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>452393712384-6dpu76hgv27r1ukt4f6p8fvr83gt81jv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.452393712384-6dpu76hgv27r1ukt4f6p8fvr83gt81jv</string>
	<key>API_KEY</key>
	<string>AIzaSyApzo5w6HIvchvs12_S0qXp4ZjVel2DWUM</string>
	<key>GCM_SENDER_ID</key>
	<string>452393712384</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dreamerongo.Spectacle</string>
	<key>PROJECT_ID</key>
	<string>spectacle-8e9d9</string>
	<key>STORAGE_BUCKET</key>
	<string>spectacle-8e9d9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:452393712384:ios:57a20a4a57261b1f</string>
	<key>DATABASE_URL</key>
	<string>https://spectacle-8e9d9.firebaseio.com</string>
</dict>
</plist>
